.user-info__edit-button {
    margin-top: 24px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.user-info__edit-button:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}