.card__title {
  display: -webkit-box;
  flex-shrink: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 24px 16px 24px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 30px;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .card__title {
    font-size: 24px;
    /* margin: 0 auto 10px; */
  }
}

@media screen and (max-width: 1024px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 16px 18px;
  }
}