.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 16px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1439px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media screen and (max-width: 1200px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}