@import url(../vendor/fonts.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_input/button_input.css);
@import url(../blocks/search/search.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/_theme/_white/menu_theme_white.css);
@import url(../blocks/menu/_is-opened/menu_is-opened.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/text/text.css);
@import url(../blocks/text/_about/text_about.css);
@import url(../blocks/text/_color_grey/text_color_grey.css);
@import url(../blocks/about/about.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/content/content.css);
@import url(../blocks/not-found/not-found.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/background/background.css);
@import url(../blocks/background/_is-opened/background_is-opened.css);
@import url(../blocks/stats/stats.css);

.page {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  user-select: none;
  color: #1A1B22;
}

body {
  background-color: #fff;
  margin: 0;
}

.hidden {
  display: none;
}