{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"], "enforceInMethodNames": false, "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }]},
  "env": {
      "browser": true,
      "node": true
  }
}