.card__subtitle {
  /* position: relative; */
  display: inline-block;
  margin: 0 auto 18px;
  margin-left: 24px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: calc(100% - 48px);
  flex-basis: 30%;
}

@media screen and (max-width: 1024px) {
  .card__subtitle {
    margin: 0 16px 18px;
    overflow: hidden;
  	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: calc(100% - 32px);
  }
}