@import url(./__site/footer__site.css);
@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__link/footer__link.css);
@import url(./__icons-container/footer__icons-container.css);
@import url(./__icon/footer__icon.css);

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 105px;
}