.header__button-auth {
  cursor: pointer;
  outline: none;
  margin: auto;
  background: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  padding: 0;
  width: 176px;
  height: 48px;
  box-shadow: none;
  border: 1px solid #fff;
  z-index: 1;
}

.header__button-auth:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: background linear 0.2s;
}

@media screen and (max-width: 1023px) {
  .header__button-auth {
    height: 40px;
    margin-top: 16px;
    height: 56px;
  }
}

@media screen and (max-width: 710px) {
  .header__button-auth {
    width: 80%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header__button-auth {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
}