.about__photo {
  padding: 80px 56px 80px 104px;
  width: 32%;
}

@media screen and (max-width: 1024px) {
  .about__photo {
    padding: 60px 40px 80px 80px;
  }
}

@media screen and (max-width: 768px) {
  .about__photo {
    padding: 60px 32px 60px 40px;
  }
}

@media screen and (max-width: 650px) {
  .about__photo {
    padding: 0;
    width: calc(100% - 48px);
    margin: 32px auto 24px;
  }
}