.card__image {
  width: 100%;
  /* max-height: 272px; */
  height: 40%;
  margin: 0;
  border: none;
  background-image: url(../../../images/no_img_medium.png);
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .card__image {
    font-size: 22px;
    line-height: 24px;
  }
}