.card__control {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: row;
}

.card__control:hover > .hint {
  display: flex;
}

@media screen and (max-width: 768px) {
  .card__control {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .card__control:hover > .hint {
    display: none;
  }
}