.menu__item {
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  text-align: center;
  margin-right: 32px;
  padding: 30px 0 23px;
  color: #B6BCBF;
  border-bottom: 3px solid transparent;
}

.menu__item:hover {
  border-bottom: 3px solid #fff;
  transition: border-bottom .1s linear .1s;
}