.cards__button {
  display: none;
  border-radius: 80px;
  background-color: #fff;
  padding: 0;
  width: 288px;
  height: 64px;
  font-size: 18px;
  line-height: 24px;
  margin: auto;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.cards__button:hover {
  opacity: 0.8;
  border: 1px #c6c6c6 solid;
}
