@import url(./__item/menu__item.css);
@import url(./__item/_active/menu__item_active.css);
@import url(./__item/_active/_white/menu__item_active_white.css);
@import url(./__item/_theme_white/menu__item_theme_white.css);
@import url(./__item/_is-opened/menu__item_is-opened.css);

.menu {
  margin: auto;
  display: flex;
  margin-right: 104px;
  padding: 0;
}


@media screen and (max-width: 1023px) {
  .menu {
    margin-right: 40px;
  }
}

@media screen and (max-width: 710px) {
  .menu {
    border-bottom: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    right: 0;
    margin-right: 0;
    margin-bottom: -25px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #1A1B22;
    z-index: 1;
    padding-top: 56px;
    margin-top: -56px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}