@import url(./__item/menu__item.css);
@import url(./__item/_active/menu__item_active.css);
@import url(./__item/_active/_white/menu__item_active_white.css);
@import url(./__item/_theme_white/menu__item_theme_white.css);

.menu {
  margin: auto;
  display: flex;
  margin-right: 104px;
  padding: 0;
}


@media screen and (max-width: 1023px) {
  .menu {
    margin-right: 40px;
  }
}

@media screen and (max-width: 710px) {
  .menu {
    position: absolute;
    top: 56px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    right: 0;
    margin-right: 0;
    background-color: #1A1B22;
    padding: 16px 16px 24px 16px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    position: absolute;
    top: 56px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}