@import url(./__button/header__button.css);

.header {
  display: flex;
  margin: auto;
  position: relative;
  justify-content: space-between;
  height: 80px;
  color: #fff;
  border-bottom: 1px solid rgba(196, 196, 196, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

@media screen and (max-width: 710px) {
  .header {
    width: 100vw;
    height: 56px;
  }
}