.header__button {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: 16px;
  cursor: pointer;
  z-index: 2;
  display: none;
}

@media screen and (max-width: 710px) {
  .header__button {
    display: block
  }
}